html, body {
	margin:0;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	font-size: 20px;
	font-family: arial;
	width: 1900px;
	
}
/*---------------------------------nav-------------------------------------------------------*/
nav {
	background-color:#7FEFD2;
	width:100%;
}

ul {
	list-style:none;
}
ul.animation {
	font-weight: bold;
	color: #66C3AB;
}
ul.menu {
	overflow:hidden;
	
	position:relative;
	margin:0;
	padding:15px;
}

li {
	margin:0 20px; 
}
li.left {
	float:left;
}
li.right {
	float:right;
}
li a {
	color:#fff;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 50px;
}
li a:hover {
	color: black;
}
h1
{
	text-align: center;
	color: #4FAE3C;
}

/*--------------------ANIMATED WORDS----------------------*/
h2 {
	color: #4FAE3C;
	font-size: 3em;
}
span:before {
	content: 'Build';
	animation: animate infinite 10s;
	color: black;
}

@keyframes animate {
	0%
	{
		content: 'Build';
	}
	33%
	{
		content: 'Develop';
	}
	66%
	{
		content: 'Design';
	}
	100%
	{
		content: 'Market';
	}
}
/*-----------------------------------buttons---------------------------------------------------------------*/
.button {
	background-color:#050505;
	-moz-border-radius:26px;
	-webkit-border-radius:26px;
	border-radius:26px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background-color:#4FAE3C;
	color: black;
}
.button:active {
	position:relative;
	top:1px;
}
/*----------------------------------------------footer--------------------------------------------------------*/
.contact {
	background-color:#66C3AB;
	color: white;
	overflow: hidden;
	margin: 3% 15% 0% 15%;
	padding: 3% 3% 3% 3%;
	
}
.footleft{
	width: 49%;
	display:inline;
	float:left;
	margin: 5px;
	
}

.footright{
	width: 49%;
	display:inline;
	float: right;
	text-align: right;
}
.info{
	text-align: center;
}
ul.social li {
	display: inline;
}
/*--------------------------------------------------content---------------------------------------------*/
.article {
   width: 100%;
   margin:0 auto;
   overflow: hidden;
   
}
.left_col {
   float:left;
   width: 30%;
   margin-left:20%;
   color: #66C3AB;
   margin-bottom: 5%;
}
.right_col {
   float:right;
   width:30%;
   margin-right:20%;
   margin-bottom: 5%;
}
.images {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
	

}

/*----------------------------------------------------------------------------------------------------------------*/

